body{
	margin:0px;
	font-family: 'Poppins', sans-serif;
}

.top-header-sec .navbar{
	background:#0e1123;
	padding: 0px 0px;
	border:none;
	    min-height: 32px!important;
	margin-bottom:0px;
	box-shadow: 0 3px 5px rgba(16,15,15,0.16);
	
}
.top-header-sec .navbar-brand{
	float: left;
    height: 20px;
    padding: 5px 15px;
    font-size: 13px;
    color: #a5adb0;
    line-height: 19px;
	
}
.top-header-sec .navbar-toggle {
    background-color: #000;
   
}
	.navbar-toggle .icon-bar {
    background: #fff;
}

.top-header-sec.navbar-nav > li > a {
    padding-top: 0px; 
     padding-bottom: 0px; 
}
.top-header-sec{
	background:#0e1123;
	
	box-shadow: 0 3px 5px rgba(16,15,15,0.16);
	border-bottom: 1px solid #444;
}
.top-header-sec ul{
	list-style:none;
	margin:0px;
	padding:0px;
}
.top-header-sec ul li{
	display:inline-block;
	list-style: none;
    border-right: solid 1px #6d7083;
    position: relative;
	    padding: 0px;
}
.top-header-sec ul li:last-child{	
    border-right:none;
	    padding-right: 0px;
}
.top-header-sec ul li a{
	color: #aaadbf;
    font-size: 13px;
        padding: 8px 15px;
}
.top-header-sec ul li a:hover{
	color: #fff;
	background:transparent;
   text-decoration:none;
}
.new-sec-heder-top{
	background-image: url(../images/main-bg.jpg);
    background-position: center top;
    background-size: cover;    
    background-attachment: scroll;

}

.section-category-prod{
	background:#333;
	border-bottom: 3px solid #222;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;   
    margin-bottom: 10px;
    overflow: hidden;
    padding: 0px 5px 5px;
    position: relative;
}
.section-category-prod h3{
    color: #48a3d0;
    font-size: 19px;
    margin-left: 45px;
}
 .section-category-prod ul{
	 list-style:none;
	 margin:0px;
 } 
.section-category-prod ul li{
	display:inline-block;
	padding: 12px;
    background: url(../images/striped-bg.png);
 } 
 
.section-category-prod ul li a{
	color:#fff;
 } 
 
 
.section-category-prod ul li a:hover{
	color:#b1c130;
	text-decoration:none;
 } 

.home-sec-search{
border: 1px solid #b6b6b67a;
    padding: 15px;
    margin-bottom: 15px;
    color: #fff;
    background: rgba(255,255,255,0.12);
}
.home-sec-search .form-group{
	margin-bottom:0px;
}
.home-sec-search .form-control{
	background: #00000078;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
}
 .home-sec-search .btn-default{
	width: 100%;
    background: #42b1e8;
    border: 1px solid #c7c7c7;
    color: #fff;
    padding: 10px 5px;
    border-radius: 23px;
}
.home-sec-search .advnce-search{
	    color: #42b1e8;
    float: right;
    padding: 0px;
    margin-right: 12px;
}
.new-upcooming-event-sec-up{
	 background:#3333338a;
}
.marq-slide-up{
			height:280px;
		}
.new-upcooming-event-sec-up h2{
	margin-top:0px;
text-align: center;
    background: #222222;
    font-size: 21px;
    padding: 10px;
    color: #dcdcdc;
	border-bottom: 1px solid #000;
	    margin-bottom: 0px;
}
.new-upcooming-event-sec-up ul{
	 list-style:none;
	 margin:0px;
	 padding:0px;
}
.image-slider-class-sec-1{
	padding-right:0px!important;
}
.image-slider-class-sec-2{
		padding-left:0px!important;
}
.new-upcooming-event-sec-up ul li{
	background: #333;
    border-top: 1px solid #444;
    border-bottom: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    padding: 0px 30px;
}
.new-upcooming-event-sec-up ul li a{
	color:#fff;	
}
.new-upcooming-event-sec-up ul li a:hover{
	text-decoration:none;
}
.new-upcooming-event-sec-up ul li a h3{
	    font-size: 19px;
    margin-bottom: 5px;
    margin-top: 9px;
    color: #00abff;
}
.new-upcooming-event-sec-up ul li a h4{
	font-size:12px;	
	margin-top:0px;
    font-weight: normal;
    letter-spacing: 1px;
	margin-bottom:5px;
}
.new-upcooming-event-sec-up ul li a p{
	letter-spacing: 1px;
    color: #fff;
   
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
.new-upcooming-event-sec-up ul li a p span{
	font-weight: bold;
}


 .section-tab-banner-slider{
	    
	 padding-bottom: 40px;
	 /*background:#ffffff61;*/
 }
 
 
 .search-tender-category ul{
	 list-style:none;
	 margin:0px;
	 padding:0px;
 }
 .search-tender-category ul li{
	padding: 4px 20px;
 }
 .search-tender-category label{
	color: #111;
    font-weight: normal;
	margin-top:10px;
 }
 .search-tender-category .form-control{
	background: #4c6675;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
 }
 .search-tender-category .btn-default{
	float:right;
    background: #0e1123;
    border: 1px solid #c7c7c7;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
 }
 .search-tender-category form{
	padding: 4px 10px;
 }
 .search-tender-category ul li a span{
	color:#337ab7;
 }
 .search-tender-category ul li a{
	color: #1b1b1b;
    font-weight: 500;
    letter-spacing: 0.3px;
 }
 .search-tender-category ul li a:hover{
	text-decoration:none;
	color:#757575;
 }
 .search-tender-category{
	    margin: 0px 0px;
    background: #ffffff42;
 } 
 .search-tender-category h2{
	  padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
 }
 
 
 
 
 .featured-tender-locations{
	background:#f9f9f9cc;
 }
 .featured-tender-locations h3{
	
    text-align: center;
    background: #222222;
    font-size: 19px;
    padding: 12px;
    color: #dcdcdc;
    border-bottom: 1px solid #000;
    margin-bottom: 0px;
 }
 .featured-tender-locations ul{
	 list-style:none;
	 padding:0px;
	 margin:0px;
 }
 .featured-tender-locations ul li{
	    border: 1px solid #a0a0a0;
    padding: 2px 15px;
	border-top:none;
 }
  .featured-tender-locations ul li h4{
	font-size: 15px;
    margin-bottom: 5px;
    margin-top: 9px;
    color: #00abff;
 }
  .featured-tender-locations ul li p{
	letter-spacing: 1px;
    color: #000;
    font-size: 10px;
   
	margin-bottom:2px;
	
 }
 .featured-tender-locations ul li p span{
	font-weight: bold;
	font-style:italic
 }
 .featured-tender-locations .viewall{
	display:block;
	margin:auto;
 }
 
 
 
 
 
 
 
 
 
 
 .browse-city{
	 background: #fffc;
 }
 .browse-city h2{
	padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
 }
 .browse-city .pagination {
    display: inline-block;
    padding-left: 0;
       margin: 0px 7px;
    border-radius: 0px;
}
 .browse-city .pagination > li > a, .browse-city .pagination > li > span{
	 
	     position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
	font-weight: bold;
    text-decoration: none;
     background-color: transparent; 
     border:1px solid transparent;
}
.browse-city .pagination > li > .active{
	        border: 1px solid #42b1e8;
    color: #000;
    border-radius: 22px;
}
 
 
 
 
 
 .search-tender-category-location ul{
	 list-style:none;
	 margin:0px;
	 padding:0px;
 }
 .search-tender-category-location ul li{
	padding: 4px 20px;
 }
 .search-tender-category-location ul li a span{
	color:#337ab7;
 }
 .search-tender-category-location ul li a{
	color: #1b1b1b;
    font-weight: 500;
    letter-spacing: 0.3px;
	font-size:13px;
 }
 .search-tender-category-location ul li a:hover{
	text-decoration:none;
	color:#757575;
 }
 .search-tender-category-location{
	    margin: 0px 0px;
    background: #fffc;
 } 
 .search-tender-category-location h2{
	  padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
 }
 .testimonial-sec{
	padding:0px;
}
.testimonial-sec h1{
	padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
	text-align:center;
    color: #000000;
    border-bottom: 2px solid #f39137;
	margin-bottom:0px;
}
.testimonial-sec-main{
	    background: #d3d4d7;
}

 .user-review h2{	
    text-align: center;   
    font-size: 24px;    
    color: #111; 
   
 }
 
 .user-review p{	
    text-align: center;   
    font-size: 18px;
    padding: 10px 120px;
    color: #111; 
   
 }
 
 
 
 
 
/*-----footer-sec*/
.footer-sec{
	background:#0e1123;  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	padding:60px 0px 20px 0px;
}
.footer-sec h3{
	font-family: 'Dosis', sans-serif;
    font-size: 18px;
    color: #ffffff;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.footer-sec ul{
	list-style:none;
	padding:0px;
}
.footer-sec ul li a{
	color:#aaadbf;
	font-size:14px;
	font-family: 'Nunito', sans-serif;
}
.footer-sec ul li a:hover{
	color: #fff;
	text-decoration:none;
	
}
.footer-sec-1 p{
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
	
}
.footer-sec-1 ul{	
	display:inline-block;
	margin-top: 17px;
}
.footer-sec-1 ul li{
	display:inline-block;
}
.footer-sec-1 ul li:nth-child(1):hover a{
	background:#3B5998;
	color:#fff;
	border:1px solid #9898988a;
	transform: rotateZ(3600deg);
}

.footer-sec-1 ul li:nth-child(2):hover a{
	background:#dd4b39;
	color:#fff;
	border:1px solid #9898988a;
}
.footer-sec-1 ul li:nth-child(3):hover a{
	background:#55acee;
	color:#fff;
	border:1px solid #9898988a;
}
.footer-sec-1 ul li a{
	    border: 1px solid #abb7c4;
    border-radius: 22px;
    padding: 9px;
    margin: 0px 10px;
	 transition:  0.6s ease-out;
}
.footer-sec-1 h4{
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}
.footer-sec-1 h4 span{
	    color: #ffffff;
    font-size: 18px;
}
.footer-sec-4 p{
	font-family: 'Nunito', sans-serif;
    font-size: 19px;
    color: #fbff50;
    font-weight: 300;
    text-transform: none;
    line-height: 24px !important;
}
.footer-sec-4 .form-control{
	background:transparent;
	border:1px solid #abb7c4;
	border-radius:0px!important;
	color:#fff;
}
.footer-sec-4 .btn-default{
	background:#233a50;
	color:#fff;
	border:1px solid #abb7c4;
	border-left:none;
	border-radius:0px;
}
.copyright-sec-combine h5{
	font-family: 'Nunito', sans-serif;
    font-size: 14px;
    color: #abb7c4;
	padding-top:20px;
	text-align:center;
    font-weight: 300;
    text-transform: none;
}

/*--------login page----------*/
.login-register-sec{
	background:url(../images/banner.jpg);	
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:500px;
	    padding: 100px 0px;
}
.form-tabs-login-reg .nav-tabs {
    border-bottom: none;
}
.form-tabs-login-reg .nav-tabs li {
   width:50%;
   text-align: center;
    font-size: 29px;
}


.form-tabs-login-reg .nav-tabs > li.active > a{
	border:1px solid #656565a8;
    border-bottom: none;
    font-weight: 500;
    color: #fff;	
	text-align: center;
    font-size: 29px;
    background: rgba(255, 255, 255, 0.34);
}
.form-tabs-login-reg .nav-tabs > li:hover a{
	border-top:1px solid #656565a8;
	border-left:1px solid #656565a8;
	border-right:1px solid #656565a8;
    font-weight: 500;
    color: #111;
    background:#ffffff94;
}
.form-tabs-login-reg .nav-tabs > li > a {
    background: #233a50;
    border-radius: 0px;
    color: #88a2bb;
    padding: 8px 29px;
    font-weight: 500;
}
.form-tabs-login-reg .form-control{
	background: rgba(0,0,0,0.36)!important;
    color: #fff;
    height: 42px!important;
    font-size: 16px!important;
    margin: 0px;
    border: 1px solid #6d6d6d;
	
}
.form-tabs-login-reg .btn-default{
	width: 100%;
    padding: 10px 0px;
    border: none;
    background: #0e1123;
    color: #fff;
	border-radius:0px;
	
}
.form-description-sec{
	border-top:none;
	border-left:1px solid #656565a8;
	border-right:1px solid #656565a8;
	border-bottom:1px solid #656565a8;
    padding: 35px;
    margin-bottom: 15px;
    color: #fff;
	    margin-right: 2px;
    background: rgba(255, 255, 255, 0.34);
}


/*---contact us------*/
.contactus-sec{
	background:url(../images/banner.jpg);	
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:500px;
	    padding: 31px 0px;
}
.contactus-sec .form-control{
	    background: rgba(0, 0, 0, 0.68)!important;
    color: #fff;
    height: 42px!important;
    font-size: 16px!important;
    margin: 0px;
    border: 1px solid #6d6d6d;
}
.contactus-sec label{
	color:#fff;
}
.contactus-sec .btn-default{
width: 100%;
    padding: 10px 0px;
    border: none;
    background: #000;
    color: #fff;
	border-radius:0px;
}
.contact-us-sub-sec{	
	border:1px solid #656565a8;
    padding: 35px;
    margin-bottom: 15px;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
}
.contact-us-sub-sec h1{	
   font-size: 35px;
    color: #fff;   
    text-align: center;
    margin-top: 0px;
    padding-bottom: 22px;
    border-bottom: 1px solid #949494;
}
.form-tabs-login-reg label{
	color: #fff;
    font-weight: normal;
    margin-top: 10px;
}
/*---/contact us------*/



/*--------edit-details-------*/
.Edit-details-sec{
background:linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/img11.jpg);	
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:500px;
	    padding: 100px 0px;
}
.Edit-details-sec-1{
	padding: 33px 51px;
    border: 1px solid #b6b6b67a;
    margin-bottom: 15px;
    margin: 0px 71px;
    color: #fff;
    background: rgba(255,255,255,0.12);
}		
.Edit-details-sec-1 .form-control{
	    background: #00000078;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
}	
.Edit-details-sec-1 h5{
	      font-size: 20px;
    color: #fff;
    border-bottom: 1px solid #8c8c8c;
    padding: 9px 0px;
    margin-bottom: 30px;
}		
.Edit-details-sec-1 .btn-default{
	width:100%;
	  float: right;
    background: #0e1123;
    border: 1px solid #525252;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
}
.Edit-details-sec-1 .btn-link{
	float:right;
}	
.changepassword-sec-modal label{
	 color:#fff;
}
.changepassword-sec-modal .form-control{
	  background: #000000a6;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
}
#changepassword .modal-header{
	     background: #4d6675;
    padding: 15px;
	    border:none;
	color:#fff;
}	
.changepassword-sec-modal .btn-default{
	width:100%;
	 
    background: #0e1123;
    border: 1px solid #525252;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
}
/*--------/edit-details-------*/


/*--------Tender_Listing_sec-------*/
.Tender_Listing_sec{
	background-image: url(../images/main-bg.jpg);
    background-position: center top;
    background-size: cover;    
	
	
}
 .Tender_Listing_sec-1{
	   
    background: #ffffff42;
 } 
 .Tender_Listing_sec-1 h2{
	  padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
 }
 .Tender_Listing_sec-1 label{
	color: #111;
    font-weight: normal;
	margin-top:10px;
 }
 .Tender_Listing_sec-1 .form-control{
	background: #4c6675;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
 }
 .Tender_Listing_sec-1 .btn-default{
	float:right;
    background: #0e1123;
    border: 1px solid #c7c7c7;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
 }
 .Tender_Listing_sec-1 form{
	padding: 4px 10px;
 }
 
.Tender_Listing_sec-2{
	background:#f9f9f9cc;
	margin-bottom: 32px;
 }
.Tender_Listing_sec-2 h3{
	
    text-align: center;
    background: #222222;
    font-size: 19px;
    padding: 12px;
    color: #dcdcdc;
    border-bottom: 1px solid #000;
    margin-bottom: 0px;
 }
.Tender_Listing_sec-2 ul{
	 list-style:none;
	 padding:0px;
	 margin:0px;
 }
.Tender_Listing_sec-2 ul li{
	    border: 1px solid #a0a0a0;
    padding: 2px 15px;
	border-top:none;
 }
.Tender_Listing_sec-2 ul li h4{
	font-size: 15px;
    margin-bottom: 5px;
    margin-top: 9px;
    color: #00abff;
 }
.Tender_Listing_sec-2 ul li p{
	letter-spacing: 1px;
    color: #000;
    font-size: 10px;
   
	margin-bottom:2px;
	
 }
.Tender_Listing_sec-2 ul li p span{
	font-weight: bold;
	font-style:italic
 }
 .Tender_Listing_sec-2 .view-more{
	    color: #1e33b1;
    font-weight: bold;
	    float: right;
		    margin-top: -39px;
 }
 
/*--------/Tender_Listing_sec-------*/


/*--------Tender_Desp_sec-------*/
.Tender_Desp_sec{
	background-image: url(../images/main-bg.jpg);
    background-position: center top;
    background-size: cover;  
padding:0px 0px;	
}
.Tender_Desp_sec-1{
	
}
.sec-back{
    background: #ffffff4f;
    min-height: 300px;
    border: 1px solid #bdbdbd;
}
.Tender_Desp_sec-1 .breadcrumb{
padding: 13px 19px;
    margin-bottom: 23px;
    list-style: none;
    background-color: #0e1123;
    border-radius: 0px;
}
.Tender_Desp_sec-1 .breadcrumb li{
	color:#fff;
}
.Tender_Desp_sec-2{
	padding:1px 50px;	
}
.Tender_Desp_sec-2 h1{
	    font-size: 30px;
    color: #0e1123;
    font-weight: 600;	
}
.Tender_Desp_sec-2 p{
	      font-size: 23px;
    color: #0e1123;
    font-weight: bold;
}
.Tender_Desp_sec-2 p i{
	      font-size: 20px;
   
}
.Tender_Desp_sec-3{
	padding:1px 50px;	
}
.Tender_Desp_sec-3 p{
	    font-size: 15px;   
    color: #0e1123;
    font-weight: 300;    
}
.Tender_Desp_sec-3 p span{
	    font-size: 17px;
    color: #0e1123;
    font-weight: bold;
}
.Tender_Desp_sec-4{
	padding:1px 50px;	
}
.Tender_Desp_sec-4 h3{
	       padding: 10px;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
 
    color: #111;
    border-bottom: 2px solid #f39137;
    margin-bottom: 20px;
}
.Tender_Desp_sec-4 p{
	    font-size: 15px;   
    color: #0e1123;
    font-weight: 300;    
}
.Tender_Desp_sec-4 p span{
	    font-size: 17px;
    color: #0e1123;
    font-weight: bold;
}
.Tender_Desp_sec-4 h4{
	    font-size: 16px; 
    color: #f39137;	
}
.Tender_Desp_sec-4 h5{
	    font-size: 16px;    
}


.content-div .table-responsive {
    margin-top: 22px;
}
/*--------/Tender_Desp_sec-------*/
/*--------subscribe plan-------*/
.subscribe-plan{
	background: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)),url(../images/img11.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    padding: 100px 0px;
}


.blocks{ border:1px solid #EEEEEE;}
.blocks:hover{box-shadow:0px 0px 10px #D9E0DB;}
.block-header{ height: 95px; text-align: center; width: 100%; padding: 8%; background: #F8F8F8; color: #333333;}
.block-container p:hover{background:#000;}
.block-header h4{ font-weight: bold; vertical-align: center;}
.block-container{ text-align: center;    background: rgba(255,255,255,0.12);}
.block-container p{ border-bottom:1px solid #F4F7F8; margin: 0; padding: 2%;color: #ffffff; }
.block-container p:last-child{ border-bottom:none;}
.price{font-size: 50px; font-family: PT Serif; color: #FF592D; font-weight: bold;}
.renew-price{font-size: 12px; color: #fff; font-style: italic; font-weight: normal;}
.block-footer{text-align: center; padding: 10%;}
.order-now{border: 1px solid #FF592D; padding: 15px; border-radius: 4%; color:#333333; font-weight: bold; }
.order-now:hover{text-decoration: none; background: #FF592D; color: #fff;}
.active-block {     box-shadow: 0 2px 10px -2px rgba(0,0,0,.41);}
.active-block .block-header{ background: #0e1123; color: #fff;}
.active-block .price{ color:#45BA76;}
.active-block .block-footer a{ background: #45BA76; color: #fff; border:none;}
.active-block .block-footer a:hover{ background: transparent; color: #fff; border:1px solid #45BA76;}
/*--------/subscribe plan-------*/

.mx {
    width: 66%;
}




/*--------advance-search-------*/



.advance-top-sec{
	background: #ffffff4f;
    min-height: 300px;
    border: 1px solid #bdbdbd;
	    margin-bottom: 32px;
}
.advance-top-sec .breadcrumb{
	    padding: 13px 19px;
    margin-bottom: 23px;
    list-style: none;
    background-color: #0e1123;
    border-radius: 0px;
}
.advance-top-sec .breadcrumb li{
	color:#fff;
}

.inner-sec-box-1{
    padding: 0px 50px;
	    border-bottom: 1px dotted #0e1123;
}
.inner-sec-box-1 h2{
        font-size: 30px;
    color: #0e1123;
    font-weight: 600;
}
.inner-sec-box-1 label{
           color: #111;
    font-weight: bold;
    margin-top: 10px;
}
.inner-sec-box-1 .form-control{
              background: #4c6675;
    color: #fff!important;
    height: 42px;
    font-size: 14px!important;
}
.inner-sec-box-2{
    padding: 0px 50px;
	  
}
.inner-sec-box-2 h2{
        font-size: 30px;
    color: #0e1123;
    font-weight: 600;
}
.inner-sec-box-2 label{
           color: #111;
    font-weight: bold;
    margin-top: 10px;
}
.inner-sec-box-2 .form-control{
              background: #4c6675;
    color: #fff!important;
    height: 42px;
    font-size: 14px!important;
}
.inner-sec-box-2 .ser{
               
    background: #0e1123;
    border: 1px solid #c7c7c7;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
}
.inner-sec-box-2 .clr{
               
    background: #f39137;
    border: 1px solid #c7c7c7;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
}


/*--------/advance-search-------*/



    

/*****Test detail date18 work*****/
.main-div {
    padding: 15px;
    border: 1px solid #f39137;
       background-color: #f1f1f1;
	   padding-left: 55px;
    padding-right: 55px;
}
.content-div {
    margin-bottom: 45px;
    margin-top: 45px;
}
.content-div h2{
	 color: #000000;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
      padding: 7px 0px 7px 7px;
	
}
.header-div h2 {
       color: #000000;
    font-size: 24px;
    font-family: 'Dosis', sans-serif;
    background: url(../images/striped-bg.png);
    font-size: 21px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;
    border-bottom: 2px solid #f39137;
       padding: 7px 0px 7px 7px;
}

.content-div .left-heding {
    font-size: 15px;
    font-weight: 600;
    color: #000000;
}
.content-div .info-content{
	    padding: 6px 0px 6px 0px;
}
.pdf-content {
    height: 100%;
    max-height: 500px;
    overflow: auto;
}
.pdf-content img.img-responsive {
    width: 100% !important;
}





.Tender-drp:hover .prc{
	display:block;
	background: #0e1123;
	-webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
	min-width: 0px;
}
.Tender-drp:hover .prc li{
	display: block;
list-style: none;
border-right: none;
position: relative;
padding: 0px;
border-bottom: 1px solid #1db7ff;

}
.Tender-drp:hover .prc li a{
	    color: #fff;
    font-size: 13px;
}
/*
.subdrp::after{
	    right: 0;
    border: 8px solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-right-color: #f1f1f1;
    top: 50%;
    margin-top: -8px;
	
}*/
.subdrp:hover .subdrp-opn{
	display:block;
	    background: #0e1123;
		    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.subdrp:hover .subdrp-opn li{
	border-bottom: 1px solid #932b15;
}

.owsm-md .modal-header{
	    background: #4d6675;
    padding: 15px;
    border: none;
    color: #fff;
}
.owsm-md .modal-body{
	       background: linear-gradient(180deg, #4c6675, #cccccc);
}
.owsm-md .modal-body .form-control{
	          background: #000000a6;
    color: #fff!important;
    height: 42px;
    font-size: 12px!important;
}
.owsm-md .modal-body .btn-default{
	             width: 100%;
    background: #0e1123;
    border: 1px solid #525252;
    color: #fff;
    padding: 10px 62px;
    border-radius: 23px;
}

.content-about-us{
	        background: #ffffff42;
    padding: 0px 30px 30px 30px;
    margin-bottom: 40px;
	box-shadow: 0 0 7px rgba(0, 0, 0, 0.67);
}
.content-about-us h2{
	       padding: 10px;
    font-size: 30px;
    line-height: 31px;
    font-weight: bold;
    color: #000000;
   text-align:center;
}
.content-about-us p{
	          color: #1b1b1b;
    font-weight: 500;
    letter-spacing: 0.3px;
	font-weight:500;
	font-size:16px;
	text-align:left;
}



